/*----------- BREADCRUMB -----------*/

.button-primary {
    @extend .button;
    background-color: $white;
    border: 1px solid $darkestGrey;

    &:hover {
        background-color: $brandSecondary;
        border: 1px solid $brandSecondary;
        color: $white;
    }

    .svg-inline--fa {
        margin-right: 5px;
    }

}

.button-secondary {
    @extend .button;
    background-color: $white;
    border: 1px solid $darkestGrey;

    &:hover {
        background-color: $darkestGrey;
        border: 1px solid $darkestGrey;
        color: $white;
    }
}

.button-featured {
    @extend .button;
    background-color: $darkestGrey;
    border: 1px solid $darkestGrey;
    color: $white;

    &:hover {
        background-color: $brandSecondary;
        border: 1px solid $brandSecondary;
        color: $white;
    }

    .svg-inline--fa {
        margin-right: 5px;
    }

}

/*----------- BREAKPOINTS -----------*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}